<%#= form_for @health_profile, :url => url_for(:controller => "health_profiles_controller", :action => "create") do |f|%>
<h1> Create Health Profile </h1>
<%= form_for [@patient, @health_profile] do |f|%>
<%= render partial: "health_profiles/form", object: f %>
<%= f.submit "Submit" %>
<% end %>
