<div>
  <%= form_for @patient do |form| %>
      <%= render "patients/form", form: form %>

<div class="submit-field">
<%= form.submit "Submit", data: {confirm: "Edit Profile?"} %>
</div>
  <% end %>
</div>