This is the patients index path

<%= link_to "New health profile", new_patient_health_profile_path(@patient) %> 

<div id="search-form">
    <%= form_tag patients_search_path, method: :get do %>
      <%= label_tag "search" %>
      <%= text_field_tag "search", nil, list: "list" %>
      <datalist id="list"></datalist>
    <%end%>
</div>