<h1>Create Patient Profile</h1>

<div>
<%= form_for :patient,  url: patients_path do |form| %>
<%= render partial: "patients/form", object: form %>

<div class="submit-field">
<%= form.submit "Submit", data: {confirm: "Create Profile?"} %>
</div>
  <% end %>
</div>

