<div id="notification">
  Notification:
</div>

<div id="search-form">
    <%= form_tag("/doctors/search", method: :get) do %>
      <%= label_tag "search" %>
      <%= text_field_tag "search", nil, list: "list" %>
      <datalist id="list"></datalist>
    <%end%>
</div>