<h1> Create Doctor Profile </h1>


<%= form_for @doctor do |form|%>
<%= render partial: "doctors/form", object: form %>

<div class="submit-field">
  <%= form.submit "Submit", data: {confirm: "Create Profile?"}%>
</div>
<%end%>