// Place all the styles related to the health_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#illness-fields-container, 
#immunization-fields-container, 
#allergy-fields-container, 
#prescription-fields-container {
    display: none;
}

#illness-fields-toggle, 
#immunization-fields-toggle, 
#allergy-fields-toggle, 
#prescription-fields-toggle {
    cursor: pointer;
}

.basic_health_prof_container{
   background-color:#f9f9f9;
   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
   padding-left: 1rem;
   padding-right: 1rem;
   padding-top:1rem;
}

#health_prof_name{
   font-size: 3rem;
   text-align: center;
}

#profile_img_container{
   text-align: center;

}
#profile_img{
   height: 200px;
   width: 200px;
   border-radius: 100px;

}

.icon{
   height: 30px;
   width: 30px;
}