// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#big_search{
   width:80%;
   border-radius: 5px;
   font-size:1.5rem;
   border-style: solid;
   border-color: #ecf0f1;
   background-color: #ecf0f1;
   padding-left: 1rem;
   padding-right: 1rem;
   -webkit-box-shadow: 0 5px 3px -3px #777;
     -moz-box-shadow: 0 5px 3px -3px #777;
          box-shadow: 0 5px 3px -3px #777;
}


#search_doctors_container{
   text-align: center;
   background-color: #1abc9c;
   padding-top:2rem;
   padding-bottom:2rem;
     -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
   margin-right:1rem;
}

#patient_notification_container{
  padding-left:1rem;
  padding-right:1rem;
  padding-top: 1rem;
   text-align: center;
   background-color: #8e44ad;
   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  margin-bottom: 2rem;

}

.notifications_header{
   padding-top: 5px;
   padding-bottom: 5px;
   color: #ecf0f1;
   font-size: 2.2rem;
}

.notification_list{
   padding-left: 1rem;
   padding-right: 1rem;
   text-align: left;
   padding-bottom: 1rem;
    color: #ecf0f1;
}

#active_prescrip_container{
text-align: center;
   background-color: #c0392b;

     -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
   margin-right:1rem;

}

#active_prescrip_title{
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 2rem; 
   color: #ecf0f1;
   text-align: left;
   padding-left: 2rem;
   padding-right: 2rem;
}

#active_prescription_item_list_container{
   margin-left: 1rem;
   margin-right: 1rem;
}
.active_prescription{
   text-align: left;
   padding-right: 1rem;
   background-color: #ecf0f1;
   margin-bottom: 1rem;
   border-radius: 3px;
   padding-left: 1rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

#medicine_title{
   font-size: 1.1rem;
   margin-bottom: 0.5rem;
}
#prescription_exp{
font-size: 1.1rem;
}

#dosage{
   margin-bottom: 0.5rem;
}
#dosage_text{
   height: 5rem;
   overflow: auto;
   font-size: 0.95rem;
}

#medicine_img{
   height: 1.8rem;
   width: 1.8rem;
}

#timer_img{

    height: 1.8rem;
   width: 1.8rem;
}


#active_permissions_container{
    padding-left:1rem;
  padding-right:1rem;
  padding-top: 1rem;
   text-align: center;
   background-color: #F5ECE1;
   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
          // color:#ecf0f1;
  padding-bottom: 1rem;

}

#active_permissions_header{
padding-top: 5px;
   padding-bottom: 5px;
   color: black;
   font-size: 2rem;
}
// #0b60fa
#active_permissions{
  text-align: left;
  background-color:#2c3e50;
  color:white;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;


}

#active_perm_descrip{
     color: black;
     font-size: 1.07rem;
     margin-bottom: 1rem;
     margin-left: -0.1rem;
     margin-right: -0.1rem;
}

#notification_list_container{
background-color: white;
-webkit-box-shadow: 0 5px 3px -3px #777;
   -moz-box-shadow: 0 5px 3px -3px #777;
          box-shadow: 0 5px 3px -3px #777;
color: black;
border-radius: 3px;
padding:0.3rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
margin-bottom: 1rem;
}

#patient_health_profile_link_container{
padding-top: 0.5rem;


}
#patient_health_profile_link{
padding-top: 0.5rem;
color: #888b8e;
text-decoration:none;
}
#patient_health_profile_link:hover{
color: #c1c3c4;
}

.patient-form{
  margin: 0 auto;
  width: 60%
}