<span><%= notification.text %></span>
<span><%= link_to "View more here", url_for(Rails.application.routes.recognize_path(notification.link)) %></span>
<% notification.received = true %>
<% notification.save %>